# First step to machine learning
1. Testing sample code

In [ ]:
import os
import pandas as pd
os.listdir('sample_data')

df = pd.read_csv('sample_data/california_housing_train.csv')
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

2. Min Max Scaling with sklearn

In [ ]:
from sklearn.preprocessing import MinMaxScaler
data = [[12000000, 33], [35000000, 45], [4000000, 23], [6500000, 26], [9000000, 29]]

scaler = MinMaxScaler()
scaler.fit(data)

print(scaler.transform(data))

3. Standardization with sklearn

In [ ]:
from sklearn import preprocessing
data = [[12000000, 33], [35000000, 45], [4000000, 23], [6500000, 26], [9000000, 29]]

scaler = preprocessing.StandardScaler().fit(data)

data = scaler.transform(data)
data

4. Random data sets with random_state parameter

In [ ]:
from sklearn.model_selection import train_test_split
     
X_data = range(10)
y_data = range(10)
     
print("random_state defined")
for i in range(3):
    X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size = 0.3, random_state = 1)
    print(y_test)
     
     
print("random_state not defined")
for i in range(3):
    X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size = 0.3, random_state = None)
    print(y_test)

5. Test split with sklearn

In [ ]:
import sklearn
from sklearn import datasets
from sklearn.model_selection import train_test_split

# load iris dataset
iris = datasets.load_iris()

x = iris.data
y = iris.target

# membagi dataset menjadi training dan testing 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

len(y_test)

30

6. Cross Validation Split

In [ ]:
import sklearn
from sklearn import datasets
from sklearn import tree
from sklearn.model_selection import cross_val_score

# load data iris
iris = datasets.load_iris()

# labeling 
x = iris.data
y = iris.target

# membuat model dengan decision tree ckassifier
clf = tree.DecisionTreeClassifier()

# mengevaluasi performa model dengan cross_val_score
scores = cross_val_score(clf, x, y, cv=5)

scores

array([0.96666667, 0.96666667, 0.9       , 0.96666667, 1.        ])